<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileCompare_Reforged.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileCompare_Reforged.FileCompare" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FileCompare_Reforged.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>IzmSmolAPO</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="FileType" serializeAs="String">
                <value>.docx</value>
            </setting>
            <setting name="AutoDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindWord" serializeAs="String">
                <value>813-прс</value>
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </FileCompare_Reforged.Properties.Settings>
        <FileCompare_Reforged.FileCompare>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="FileType" serializeAs="String">
                <value />
            </setting>
            <setting name="HoursAutoDownload" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinutesAutoDownload" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
        </FileCompare_Reforged.FileCompare>
    </userSettings>
</configuration>