<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chimp.Logging.Core" version="0.2.0-alpha" targetFramework="net472" />
  <package id="DesktopToast" version="0.7.0-alpha" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.12.1" targetFramework="net472" />
  <package id="NotificationsExtensions.Win10" version="14332.0.2" targetFramework="net472" />
  <package id="Prism.Core" version="8.0.0.1909" targetFramework="net472" />
</packages>